# mattermost backup configuration

## change only when in gitlab.rb the mattermost['home'] is set
mattermostDir="/var/opt/gitlab/mattermost"

## change only when in gitlab.rb the gitlab_rails['backup_path'] is set
gitlabBackupDir="/var/opt/gitlab/backups"